.wp-block-details::details-content {
    display: block;
    height: 0;
    width: 100%;
    overflow: hidden;
    transition-property: height;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.wp-block-details[open]::details-content {
    height: auto;
} 